<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At repudiandae sequi cumque rem hic itaque magni
            excepturi nemo. Fugit autem accusamus numquam distinctio natus ipsum fugiat corporis earum quisquam iure.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas tenetur, asperiores natus quis
            explicabo sapiente sed non magni libero officia porro assumenda aperiam repellat quisquam ea delectus quia
            ut.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste assumenda libero perspiciatis sequi numquam
            eos perferendis enim eveniet pariatur ea voluptatum autem suscipit quaerat explicabo, est quia et
            laboriosam? Adipisci.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere error dolor deleniti maiores culpa placeat
            dicta obcaecati atque! Voluptatem porro aperiam, similique totam nemo libero ad magnam. Voluptatum, non
            illum.
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>