<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>


                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat expedita ipsa totam, quod modi vero
                    accusantium esse tenetur eaque nulla facere quidem? Tenetur illum molestias asperiores quasi
                    temporibus? Cumque, natus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dolore
                    unde perspiciatis nesciunt ipsum facere voluptatum architecto, perferendis animi earum libero atque
                    repellendus quia delectus? Corporis facere cumque voluptas aliquam? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Voluptatem nesciunt nulla, voluptate temporibus tenetur est! Nisi
                    dicta itaque culpa est excepturi quam animi qui molestiae ullam. Eius eligendi placeat provident.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum id corrupti pariatur! Velit eligendi
                    ipsum recusandae, libero et eius omnis nostrum ipsa at explicabo neque, incidunt iusto aperiam porro
                    fugiat!
                </p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>